* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
html {
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
    height: auto;
}
span, a {
    display: inline-block;
}
::-webkit-scrollbar {
    width: 0px;
    background-color: #1f1f1fcc;
}
::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 0.8);
}


/* Loader */
#load-box { 
    width: 100%;
    min-height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #293e4d url('https://i.gifer.com/8V9H.gif') no-repeat center center;
    background-size: 0%;
    z-index: 1111;
}
#load {
    width: 230px;
    height: 230px;
    border: 3px solid #3296ff;
    background: url('https://i.gifer.com/8V9H.gif') no-repeat center center;
    border-radius: 50%;
    background-size: cover;
    z-index: 1000;
    filter: drop-shadow(0 0 8px #000000ad);
}
#load-text {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: end;
    column-gap: 4px;
    margin-top: 12px;
    font-size: 22px;
    color: #3296ff;
    text-align: center;
    text-shadow: 0 2px 10px #000;
}
#load-text span {
    width: 10%;
    height: 24px;
    background: url(https://cdn.pixabay.com/animation/2022/07/29/03/42/03-42-07-846_512.gif) no-repeat center center;
    background-size: 80%;
}

.all {
    width: 100%;
    min-height: 100dvh;
    background: #1f1f1fcc;
    overflow: hidden !important;
}

.top {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    box-shadow: inset 0 0px 8px black;
    z-index: 100;
    /* background: linear-gradient(rgba(0,0,0, 0.2) , rgba(0,0,0, 0.2)); */
    background: linear-gradient(#2d2d2d , #2d2d2d) !important;
}

.top-text {
    filter: drop-shadow(0 0 100px red);
    background: linear-gradient(#2d2d2d , #2d2d2d) !important;
}

.center {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    padding: 100px 30px 40px;
    gap: 24px;
    margin-top: 40px;
    overflow: auto;
}

.form {
    height: fit-content;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.logo-box {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.logo {
    width: 60px;
    height: fit-content;
    filter: drop-shadow(0 0 6px #000);
}

.header {
    text-align: center;
    padding: 25px 0;
    color: skyblue;
    -webkit-text-stroke: 1px black;
    text-shadow: 0 2px 8px black;
}

.movies {
    position: relative !important;    
    width: calc(100% / 3 - 16px);
    color: #fff;
    padding: 22px 20px;
    text-wrap: balance;
    border-radius: 15px;
    box-shadow: 0 2px 8px black;
    background-image: linear-gradient( 76.3deg,  rgba(44, 62, 78, 0.8) 12.6%, rgba(69, 103, 131, 0.8) 82.8% );
    transition: all 0.3s linear;
    overflow: hidden;
}

/* .movies:hover {
    scale: 1.02;
} */
.movies:hover .mv-num {
    color: #fff;
}

.movies:hover .mv-set-ic {
    opacity: 0.8;
}

/* .movies:hover .mv-set-run {
    animation: set_run 0.6s linear infinite;
} */

/* .movies:hover .mv-set-box {
    animation: set_txt 0.3s linear forwards;
} */

.input , .btn{
    font-size: 16px;
    padding: 6px 10px;
    color: #fff;
    background-color: #18181850;
    /* box-shadow: 0 0px 6px #ffffff82; */
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: 0 2px 8px black;
}

.btn {
    padding: 6px 12px !important;
    color: #ffffffbc;
    cursor: pointer;
}

.mv-info {
    display: none;
}

.mv-num {
    font-size: 60px;
    position: absolute;
    bottom: 6px;
    right: 14px;
    font-weight: 600;
    color: #000;
    font-family: Montserrat, sans-serif;
    opacity: 0.2;
    transition: all 0.15s linear;
}

.mv-name {
    width: fit-content;
    font-size: 22px;
    text-shadow: 0 0 4px #000;
    -webkit-text-stroke: 0.4px #6d77e4;
    border-bottom: 1px solid #6d77e4;
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    margin-bottom: 20px !important; 
}

.ul {
    width: fit-content;
    padding: 4px 20px;
    text-shadow: 0 0 4px #000;
    -webkit-text-stroke: 0.4px #6d77e4;
    /* border-bottom: 1.4px solid #cc2f31; */
    margin: 8px 0;
}

.mv-categr:hover {
    text-decoration: 1px underline #fff;
    cursor: pointer;
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
}

.mv-year {
    position: absolute;
    bottom: 90px;
    right: 0;
    padding: 2px 6px;
    font-size: 14px;
    width: fit-content;
    background-color: rgba(255, 0, 0, 0.4);
    transition: all 0.3s linear;
}

.mv-year:hover {
    background-color: rgba(135, 207, 235, 0.4);
}

.mv-watch {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted yellow;
    transition: all 0.3s linear;
    padding-bottom: 4px !important;
}

.mv-watch:hover {
    color:red;
}

.mv-time {
    margin-top: 10px;    
    margin-bottom: 6px;
}

.mv-rating {
    margin-top: 6px;
    margin-bottom: 10px;    
}

.mv-watch , .mv-rating , .mv-time {
    font-size: 14px;
    line-height: 1em !important;
    width: fit-content;
    display: flex;
    align-items: end !important;
    column-gap: 6px;
    padding: 0;
}

.span {
    margin-left: 0.5px;
}

.more {
    display: flex;
    align-items: center;
    column-gap: 6px;
    text-align: center;
    padding: 8px 22px;
    font-size: 16px;
    margin: 0px auto;
    margin-bottom: 40px;
    border-radius: 4px;
    letter-spacing: 0.4px;
    border: none;
    box-shadow: 0 2px 8px black;
    background-color: #2d2d2d;
    color: #fff;
    cursor: pointer;
    transition: 0.3s background-color linear ;
}

.more:hover {
    background-color: #2d2d2db2;
}

.more span {
    transform: rotate(90deg);
}

.remove {
    display: none !important;
}

.mv-set-ic {
    position: absolute; 
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: linear-gradient(rgba(255,255,255, 0.4) , rgba(255,255,255, 0.4));
    font-size: 24px;
    border-radius: 4px;
    opacity: 0;
    transition: 0.3s opacity linear;
    cursor: pointer;
}

.mv-set-ic:hover ~ .mv-set-box {
    animation: set_txt 0.3s linear forwards;
}

.mv-set-box {
    position: absolute;
    top: 10px;
    right: 60px;
    width: fit-content;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translate(16px);
}

.mv-set-hv-txt {
    padding: 2px 12px;
    background-color: #2d2d2da2;
    border-radius: 4px;
    font-size: 14px;
}

.mv-set-hv-icon {
    position: relative;
    transform: translateX(-2.6px);
    color: #2d2d2da2;
    z-index: 1;
}

.mv-inf-btn {
    margin-top: 14px;
    padding: 2px 14px;
    border: none;
    border-radius: 4px;
    background-color: #2d2d2d;
    color: #fff;
    transition: 0.15s scale linear;
}

.mv-inf-btn:hover {
    scale: 0.94;
    box-shadow: 0 2px 6px #000;
}

.ad-movie-sites {
    position: fixed;
    top: 50%;
    left: 0;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 96px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}

.movie-ad {
    width: 46px;
    height: auto;
    border: 2px solid #2d2d2da2;
    background-color: #fff;
    padding: 6px;
    margin: 0 !important;
    cursor: pointer;
}

.link {
    text-decoration: none;
}

@keyframes set_run {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes set_txt {
    100% {
        transform: translate(0);
        opacity: 1;
    }
}